:root { 
    --primary-color: #37474F;
    --background-color: #F5F8FF;
    --header-orange: #e64a20;
    --text-light: #ffffff;
    --lobster-font: "Lobster Two", sans-serif;
    --DM-font: "DM Sans", sans-serif;
}

html {
    font-size: 16px;
    background-color: var(--background-color);
    font-family: var(--DM-font);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; /* improved box sizing */
}

h1 {
    font-size: 2rem;
}

h2 {
    color: var(--background-color);
    font-family: var(--lobster-font);
    font-size: 1.7rem;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.about-left {
    align-self: flex-start;
}

.about-left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-right {
    flex: 1;
    text-align: center;
}

.about-text h2 {
    color: var(--header-orange);
    font-family: var(--DM-font);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.about-text .job-title {
    color: var(--header-orange);
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.about-text p {
    color: var(--primary-color);
    margin-bottom: 1rem;
    line-height: 1.5;
}

.skills-title {
    color: var(--header-orange);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.skills-tech {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skills-tech .btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    color: var(--text-light);
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--header-orange);
    transition: background-color 0.3s;
}

.skills-tech .btn:hover {
    background-color: #cc3e1c;
}
