@media (max-width: 640px) {
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem;
    }

    .header-left-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .header-right-side {
        width: 100%;
    }

    .nav-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-options a {
        background-color: var(--header-orange); /* or use solid blue if you want */
        color: var(--text-light);
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .nav-options a:hover {
        background-color: #cc3e1c;
        border-bottom: solid 2px white;
    }


/* Tablet View */
@media((min-width:641px) and (max-width:1007px)){
    html(font-size: 14px;)
}